
d2-morning/gencode.v46.basic.annotation.gtf
d4-afternoon/GTEx_Analysis_2017-06-05_v8_RNASeQCv1.1.9_gene_tpm.gct
week2/background0.1.txt
week2/background0.2.txt
week2/background0.3.txt
week2/background0.4.txt
week2/background0.5.txt
week2/chr1_snps.tar.gz
week2/chr1_snps_0.1.bed
week2/chr1_snps_0.2.bed
week2/chr1_snps_0.3.bed
week2/chr1_snps_0.4.bed
week2/chr1_snps_0.5.bed
week2/coverage_0.1_cCREs.txt
week2/coverage_0.1_exons.txt
week2/coverage_0.1_introns.txt
week2/coverage_0.1_other.txt
week2/coverage_0.2_cCREs.txt
week2/coverage_0.2_exons.txt
week2/coverage_0.2_introns.txt
week2/coverage_0.2_other.txt
week2/coverage_0.3_cCREs.txt
week2/coverage_0.3_exons.txt
week2/coverage_0.3_introns.txt
week2/coverage_0.3_other.txt
week2/coverage_0.4_cCREs.txt
week2/coverage_0.4_exons.txt
week2/coverage_0.4_introns.txt
week2/coverage_0.4_other.txt
week2/coverage_0.5_cCREs.txt
week2/coverage_0.5_exons.txt
week2/coverage_0.5_introns.txt
week2/coverage_0.5_other.txt
week2/genome_chr1.bed
week3/A01_09.fastq
week3/A01_11.fastq
week3/A01_23.fastq
week3/A01_24.fastq
week3/A01_27.fastq
week3/A01_31.fastq
week3/A01_35.fastq
week3/A01_39.fastq
week3/A01_62.fastq
week3/A01_63.fastq
week3/BYxRM.tar.gz
week3/sacCer3.fa
week3/sacCer3.fa.amb
week3/sacCer3.fa.ann
week3/sacCer3.fa.bwt
week3/sacCer3.fa.pac
week3/sacCer3.fa.sa
week3/A01_09_fastqc.html
week3/A01_09_fastqc.zip
week3/A01_11_fastqc.html
week3/A01_11_fastqc.zip
week3/A01_23_fastqc.html
week3/A01_23_fastqc.zip
week3/A01_24_fastqc.html
week3/A01_24_fastqc.zip
week3/A01_27_fastqc.html
week3/A01_27_fastqc.zip
week3/A01_31_fastqc.html
week3/A01_31_fastqc.zip
week3/A01_35_fastqc.html
week3/A01_35_fastqc.zip
week3/A01_39_fastqc.html
week3/A01_39_fastqc.zip
week3/A01_62_fastqc.html
week3/A01_62_fastqc.zip
week3/A01_63_fastqc.html
week3/A01_63_fastqc.zip
week3/sacCer_A01_09.bam
week3/sacCer_A01_09.bam.bai
week3/sacCer_A01_09.sam
week3/sacCer_A01_11.bam
week3/sacCer_A01_11.bam.bai
week3/sacCer_A01_11.sam
week3/sacCer_A01_23.bam
week3/sacCer_A01_23.bam.bai
week3/sacCer_A01_23.sam
week3/sacCer_A01_24.bam
week3/sacCer_A01_24.bam.bai
week3/sacCer_A01_24.sam
week3/sacCer_A01_27.bam
week3/sacCer_A01_27.bam.bai
week3/sacCer_A01_27.sam
week3/sacCer_A01_31.bam
week3/sacCer_A01_31.bam.bai
week3/sacCer_A01_31.sam
week3/sacCer_A01_35.bam
week3/sacCer_A01_35.bam.bai
week3/sacCer_A01_35.sam
week3/sacCer_A01_39.bam
week3/sacCer_A01_39.bam.bai
week3/sacCer_A01_39.sam
week3/sacCer_A01_62.bam
week3/sacCer_A01_62.bam.bai
week3/sacCer_A01_62.sam
week3/sacCer_A01_63.bam
week3/sacCer_A01_63.bam.bai
week3/sacCer_A01_63.sam
