
d2-morning/gencode.v46.basic.annotation.gtf
d4-afternoon/GTEx_Analysis_2017-06-05_v8_RNASeQCv1.1.9_gene_tpm.gct
week2/background0.1.txt
week2/background0.2.txt
week2/background0.3.txt
week2/background0.4.txt
week2/background0.5.txt
week2/chr1_snps.tar.gz
week2/chr1_snps_0.1.bed
week2/chr1_snps_0.2.bed
week2/chr1_snps_0.3.bed
week2/chr1_snps_0.4.bed
week2/chr1_snps_0.5.bed
week2/coverage_0.1_cCREs.txt
week2/coverage_0.1_exons.txt
week2/coverage_0.1_introns.txt
week2/coverage_0.1_other.txt
week2/coverage_0.2_cCREs.txt
week2/coverage_0.2_exons.txt
week2/coverage_0.2_introns.txt
week2/coverage_0.2_other.txt
week2/coverage_0.3_cCREs.txt
week2/coverage_0.3_exons.txt
week2/coverage_0.3_introns.txt
week2/coverage_0.3_other.txt
week2/coverage_0.4_cCREs.txt
week2/coverage_0.4_exons.txt
week2/coverage_0.4_introns.txt
week2/coverage_0.4_other.txt
week2/coverage_0.5_cCREs.txt
week2/coverage_0.5_exons.txt
week2/coverage_0.5_introns.txt
week2/coverage_0.5_other.txt
week2/genome_chr1.bed
